body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: hello-headline !important;
  src: url(../src/assets/FontsFree-Net-Hello-Headline-W00-Regular.ttf) !important;
}

.MuiTypography-root {
  font-family: hello-headline !important;
}

.MuiTypography-body1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
}
.MuiTypography-body2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
}

a {
  text-decoration: none !important;
}

#bluey-logo-small {
  height: 50px;
  margin-right: 15px;
}

#keepy-uppy-balloon {
  height: 50px;
}
#drawing-app-marker {
  height: 35px;
  margin-right: 15px;
}

#add-character-modal {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  max-height: 80vh;
  overflow: hidden;
  overflow-y: scroll !important;
  margin: 5%;
  background-color: white;
  padding: 1%;
}

@font-face {
  font-family: hello-headline;
  src: url(../src/assets/FontsFree-Net-Hello-Headline-W00-Regular.ttf);
}

#fab-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
}

#search-and-avatar {
  display: flex;
  align-content: space-around;
}

#avatar {
  margin: 3%;
}

#search {
  margin: 3%;
}

#trivia-accordion {
  /* height: 2rem; */
  background-color: transparent;
}

.flexbox-turn-on {
  display: flex;
}

#season-episode {
  justify-content: space-around;
}
