body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#bluey-logo {
  height: 50px;
}

#add-character-modal {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  max-height: 80vh;
  overflow: hidden;
  overflow-y: scroll !important;
  margin: 5%;
  background-color: white;
  padding: 1%;
}

@font-face {
  font-family: hello-headline;
  src: url(../src/assets/FontsFree-Net-Hello-Headline-W00-Regular.ttf);
}

.h1 {
  font-family: hello-headline;
}
.h2 {
  font-family: hello-headline;
}
.h3 {
  font-family: hello-headline;
}
.h4 {
  font-family: hello-headline;
}
.h5 {
  font-family: hello-headline;
}
.h6 {
  font-family: hello-headline;
}
.subtitle1 {
  font-family: hello-headline;
}
.subtitle2 {
  font-family: hello-headline;
}
.body1 {
  font-family: hello-headline;
}
.body2 {
  font-family: hello-headline;
}
.button {
  font-family: hello-headline;
}
.caption {
  font-family: hello-headline;
}
.overline {
  font-family: hello-headline;
}

#fab-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
}

#search-and-avatar {
  display: flex;
  align-content: space-around;
}

#avatar {
  margin: 3%;
}

#search {
  margin: 3%;
}
