<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Blue Dog API</title>

    <link rel="stylesheet" href="../css/colors.css">
        <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
{{>_header}}
{{>_sideNav}}
{{{body}}}
{{>_footer}}
  </body>
</html>