<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Blue Dog API</title>

    <link rel="stylesheet" href="../css/colors.css">
        <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <!-- Beginning of User Nav -->
    <nav><!-- navbar content here  --></nav>

    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="/client/images/references/bluey.jpeg" />
          </div>
          <a href="#user"><img
              class="circle"
              src="/client/images/coded logo copy.png"
            /></a>
          <a href="#name"><span class="white-text name">Mary Elenius</span></a>
          <a href="#email"><span
              class="white-text email"
            >mary.panda.jackson@gmail.com</span></a>
        </div>
      </li>
      <li>
        <a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a>
      </li>
      <li><a href="#!">Second Link</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i
        class="material-icons"
      >menu</i></a>
    <!-- End of User Nav -->
{{>_header}}
{{>_sideNav}}
{{{body}}}
{{>_footer}}
  </body>
</html>