.page {
  width: 100vw;
  height: 100vh;
  background: #2c3e50;
  display: flex;
  justify-content: center;
}

.scene-container {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scene {
  border: 2px solid black;
}

.block {
  stroke-width: 3px;
  stroke: black;
}

.paddle {
  fill: black;
}

.ball {
  fill: red;
}

.level {
  font-weight: bold;
  fill: red;
}

.life {
  fill: red;
}
