<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blue Dog API</title>
  </head>
  <body>
    Say g’day to all of Bluey’s friends

    <section class="black">
      <div
        class="carousel carousel-slider"
        id="demo-carousel"
        data-indicators="true"
      >
        <div class="carousel-fixed-item">
          <div class="container">
            <h1 class="white-text">Characters</h1>
            <a
              class="btn waves-effect white grey-text darken-text-2"
              href="https://apilink.com"
              target="_blank"
            >button</a>
          </div>
        </div>
        <div class="carousel-item red lighten-2 white-text" href="#one!">
          <div class="container">
            <h2>First Slide</h2>
            <p class="white-text">
              Etiam porta sem malesuada magna mollis euismod.
            </p>
          </div>
        </div>
        <div class="carousel-item amber darken-2 white-text" href="#two!">
          <div class="container">
            <h2>Second Slide</h2>
            <p class="white-text">
              Etiam porta sem malesuada magna mollis euismod.
            </p>
          </div>
        </div>
        <div class="carousel-item green white-text" href="#three!">
          <div class="container">
            <h2>Third Slide</h2>
            <p class="white-text">
              Etiam porta sem malesuada magna mollis euismod.
            </p>
          </div>
        </div>
        <div class="carousel-item blue white-text" href="#four!">
          <div class="container">
            <h2>Fourth Slide</h2>
            <p class="white-text">
              Etiam porta sem malesuada magna mollis euismod.
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>